{% set url_name = res_name|replace(' ', '_') %}
<p>Olet muokkaamassa ravintolaa: {{res_name}}</p>
<form action="/edit_restaurant/{{url_name}}" method="post">
    Ravintolan nimi: <textarea name="name" rows="1" cols="20" required></textarea>
    <p>
    Ravintolan kuvaus:
    <br>
    <textarea name="description" rows="3" cols="40" required></textarea>
    <br>
    Aukeaa klo: <input type="time" name="opening_time" min="00:00" max="23:59" step="60" required>
    <br>
    Menee kiinni klo: <input type="time" name="closing_time" min="00:00" max="23:59" step="60" required>
    <br>
    <input type="submit" value="Muokkaa">
    <input type="button" value="Keskeytä muokkaus" onclick="window.location.href='/restaurant/{{url_name}}'">
    </form>