{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id and session.user_role == "admin"%}
Ylläpitäjän toiminnot:
<p><a href="/create_restaurant">Luo ravintola</a> | <a href="/create_category">Luo kategoria</a> | <a href="/remove_categories">Poista kategorioita</a></p>
<hr>
{% endif %}
<p>Tervetuloa ravintolasovellukseen.</p>
<form action="/result" method="GET">
  Hae ravintolaa: <input type="text" name="query" maxlength="5000">
  <input type="submit" value="Hae">
  </form>
<hr>
<h1>Ravintolat</h1>
<h2>Kartalla</h2>
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

<script src="{{ url_for('static', filename='assets/js/map.js') }}"></script> 
<div id="map"></div>
<h2>Listana</h2>
<p>Järjestä:</p>
<form action="/" method="post">
    <select name="order_by">
      <option value="newest" {% if order_by == 'newest' %}selected{% endif %}>Uusin</option>
      <option value="rating" {% if order_by == 'rating' %}selected{% endif %}>Paras arvosana</option>
    </select>
    <input type="submit" value="Järjestä">
  </form>
  
<hr>
{%if restaurants%}
    {% for restaurant in restaurants %}
        {% set url_name = restaurant.name|replace(' ', '_') %}
        <h2><a href="/restaurant/{{url_name}}">{{ restaurant[0] }}</a></h2>
        <p><i>{{ restaurant.description }}</i></p>
        <p>Avoinna klo: {{ restaurant.opening_time.strftime('%H:%M')}} - {{ restaurant.closing_time.strftime('%H:%M')}}</p>
        <p>Arvosana (keskiarvo): {%if restaurant.rating%}{{restaurant.rating|round(2)}}{%else%}Ei arvosteluja{%endif%}</p>
        <hr>
    {% endfor %}
{%else%}
    <p>Ravintoloita ei vielä ole. Ylläpitäjät voivat lisätä niitä.</p>
{%endif%}
{% endblock %}