{% extends "layout.html" %}
{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}
<div class="content-box">
<form action="/login" method="post">
    Tunnus: <input type="text" name="username" maxlength="50" required>
    <p>
    Salasana: <input type="password" name="password" maxlength="50" required>
    <p>
    <input type="submit" value="Kirjaudu">
    </form>
    {%if error%}<p style="color:red">Virhe: Väärä tunnus tai salasana.</p>{%endif%}
    <p>Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a></p>
</div>
{%endblock%}