{% extends "layout.html" %}
{% block title %}Uusi kategoria{% endblock %}
{% block content %}
<div class="content-box">
<form action="/create_category" method="post">
    <h2>Kategorian nimi</h2>
    <textarea name="name" rows="1" cols="20" maxlength="100" required></textarea>
    <h2>Tyyppi</h2>
    <p>
        <input type="radio" name="type" value="categories" required> Ruokalaji
        <input type="radio" name="type" value="types" required> Ravintolatyyppi
    </p>
    <input type="submit" value="Luo">
    </form>
</div>
{%endblock%}