{% extends "layout.html" %}
{% block title %}{{restaurant.name}}{% endblock %}
{% block content %}
{% set url_name = restaurant.name|replace(' ', '_') %}
<h2>{{restaurant.name}}</h2>
<dl><dd><i>{{restaurant.description}}</i></dd></dl>
<h3>Aukioloajat</h3>
<p>Avoinna tänään: {%if restaurant.is_24h%}Auki 24h{%else%}{%if restaurant['open_' + today]%}{{ restaurant['open_' + today].strftime('%H:%M')}} - {{ restaurant['close_' + today].strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</p>
<ul>
    <li>Maanantai: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_mon%}{{ restaurant.open_mon.strftime('%H:%M')}} - {{ restaurant.close_mon.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
    <li>Tiistai: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_tue%}{{ restaurant.open_tue.strftime('%H:%M')}} - {{ restaurant.close_tue.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
    <li>Keskiviikko: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_wed%}{{ restaurant.open_wed.strftime('%H:%M')}} - {{ restaurant.close_wed.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
    <li>Torstai: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_thu%}{{ restaurant.open_thu.strftime('%H:%M')}} - {{ restaurant.close_thu.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
    <li>Perjantai: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_fri%}{{ restaurant.open_fri.strftime('%H:%M')}} - {{ restaurant.close_fri.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
    <li>Lauantai: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_sat%}{{ restaurant.open_sat.strftime('%H:%M')}} - {{ restaurant.close_sat.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
    <li>Sunnuntai: {%if restaurant.is_24h%}24h{%else%}{%if restaurant.open_sun%}{{ restaurant.open_sun.strftime('%H:%M')}} - {{ restaurant.close_sun.strftime('%H:%M')}}{%else%}Suljettu.{%endif%}{%endif%}</li>
</ul>
<h3>Tiedot</h3>
<p>Arvosana (keskiarvo): {%if res_rat == "0.00"%}Ei arvosteluja.{%else%}{{res_rat}}{%endif%}</p>
{% if categories %}
    <p>Ruokalajit: 
        {% for category in categories %}
            {{ category.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}
{% if types %}
    <p>Ravintolatyypit: 
        {% for type in types %}
            {{ type.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}
{% if session.user_id and session.user_role == "admin"%}
<hr>
<p>Ylläpitäjän toiminnot: <a href="/delete_restaurant/{{url_name}}">Poista ravintola</a> | <a href="/edit_restaurant/{{url_name}}">Muokkaa ravintolaa</a><!--
--> | <a href="/add_categories/{{url_name}}">Lisää ravintolalle kategorioita</a> | <a href="/delete_categories/{{url_name}}">Poista ravintolalta kategorioita</a> </p>
{%endif%}
<hr>
{% if session.user_id %}
<h2>Lisää arvostelu</h2>
<form action="/restaurant/{{restaurant.name}}" method="post">
    Viesti: <br>
    <textarea name="comment" rows="3" cols="40" maxlength="2000" required></textarea>
    <br>
    Montako tähteä:
    <p>
        <input type="radio" name="rating" value="1" required> 1
        <input type="radio" name="rating" value="2" required> 2
        <input type="radio" name="rating" value="3" required> 3
        <input type="radio" name="rating" value="4" required> 4
        <input type="radio" name="rating" value="5" required> 5
    </p>
    <input type="submit" value="Lähetä">
    </form>
{%endif%}

<h2>Arvostelut</h2>
{%if comments%}
    {{count}} {%if count == 1 %}arvostelu{%else%}arvostelua{%endif%}:
    <br>
    <hr>
    {% for comment in comments %}
        <p><i>Arvosana:</i> {{comment.rating}}</p>
        <p><i>Arvostelu:</i> {{ comment.comment }}</p>
        <p><i>Lähettäjä:</i> {{ comment.username }}</p>
        <p><i>Aika:</i> {{ comment.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        {% if session.user_id and session.user_role == "admin"%}<a href="/restaurant/{{url_name}}/delete_comment/{{comment.id}}">Poista arvostelu</a>{%endif%}
        <hr>
    {% endfor %}
{%else%}
    <p>Arvosteluja ei vielä ole. {% if session.user_id %}Luo ensimmäinen arvostelu yläpuolelta!{%else%}Kirjaudu sisään luodaksesi arvostelun!{%endif%}</p>
{%endif%}
{%endblock%}