{% set url_name = res_name|replace(' ', '_') %}
<a href="/">Palaa etusivulle</a>
<hr>
<h2>{{res_name}}</h2>
<dl><dd><i>{{res_desc}}</i></dd></dl>
<p>Avoinna klo: {{res_op.strftime('%H:%M')}} - {{res_cl.strftime('%H:%M')}}</p>
<p>Arvosana (keskiarvo): {{res_rat}}</p>
{% if session.user_id and session.user_role == "admin"%}
<p>Ylläpitäjän toiminnot: <a href="/delete_restaurant/{{url_name}}">Poista ravintola</a> | <a href="/edit_restaurant/{{url_name}}">Muokkaa ravintolaa</a></p>
{%endif%}
<hr>
{% if session.user_id %}
<h2>Lisää arvostelu</h2>
<form action="/restaurant/{{res_name}}" method="post">
    Viesti: <br>
    <textarea name="comment" rows="3" cols="40"></textarea>
    <br>
    Montako tähteä:
    <p>
        <input type="radio" name="rating" value="1"> 1
        <input type="radio" name="rating" value="2"> 2
        <input type="radio" name="rating" value="3"> 3
        <input type="radio" name="rating" value="4"> 4
        <input type="radio" name="rating" value="5"> 5
    </p>
    <input type="submit" value="Lähetä">
    </form>
{%endif%}

<h2>Arvostelut</h2>
{%if comments%}
    {{count}} arvostelua:
    <br>
    <hr>
    {% for comment in comments %}
        <p><i>Arvosana:</i> {{comment.rating}}</p>
        <p><i>Arvostelu:</i> {{ comment.comment }}</p>
        <p><i>Lähettäjä:</i> {{ comment.username }}</p>
        <p><i>Aika:</i> {{ comment.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        {% if session.user_id and session.user_role == "admin"%}<a href="/delete_comment/{{comment.id}}">Poista arvostelu</a>{%endif%}
        <hr>
    {% endfor %}
{%else%}
    <p>Arvosteluja ei vielä ole. {% if session.user_id %}Luo ensimmäinen arvostelu yläpuolelta!{%else%}Kirjaudu sisään luodaksesi arvostelun!{%endif%}</p>
{%endif%}